<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr"
      lang="fr">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <link rel="section" href="/?General" title="General" />
    <link rel="section" href="/?Realisations" title="Réalisations" />
    <link rel="section" href="/?Professionnel" title="Professionnel" />
    <link rel="section" href="/?Techno" title="Techno" />
    <link rel="archive" href="/?2012/11" title="novembre 2012" />
    <link rel="archive" href="/?2012/10" title="octobre 2012" />
    <link rel="archive" href="/?2012/09" title="septembre 2012" />
    <link rel="archive" href="/?2012/03" title="mars 2012" />
    <link rel="archive" href="/?2011/10" title="octobre 2011" />
    <link rel="archive" href="/?2011/02" title="février 2011" />
    <link rel="archive" href="/?2010/11" title="novembre 2010" />
    <link rel="archive" href="/?2010/08" title="août 2010" />
    <link rel="archive" href="/?2010/07" title="juillet 2010" />
    <link rel="archive" href="/?2010/05" title="mai 2010" />
    <link rel="archive" href="/?2010/02" title="février 2010" />
    <link rel="archive" href="/?2009/11" title="novembre 2009" />
    <link rel="archive" href="/?2009/06" title="juin 2009" />
    <link rel="archive" href="/?2008/07" title="juillet 2008" />
    <link rel="archive" href="/?2008/06" title="juin 2008" />
    <link rel="archive" href="/?2008/05" title="mai 2008" />
    <link rel="archive" href="/?2006/09" title="septembre 2006" />
    <link rel="archive" href="/?2006/07" title="juillet 2006" />
    <link rel="archive" href="/?2006/04" title="avril 2006" />
    <link rel="archive" href="/?2005/07" title="juillet 2005" />
    <link rel="chapter" href="/?2012/11/04/197-how-to-master-hibernatemode-on-your-mac" title="How to master hibernatemode on your mac" />
    <link rel="chapter" href="/?2012/10/09/196-i-finally-found-a-better-gitx-which-is-gitx" title="I finally found a better GitX which is GitX" />
    <link rel="chapter" href="/?2012/09/16/195-according-to-eric-evans-we-do-it-wrong-and-he-s-right" title="According to Eric Evans we do it wrong and he's right" />
    <link rel="chapter" href="/?2012/09/10/194-how-to-install-git-subtree-with-a-former-home-brew-installation" title="How to install git subtree with a former home brew installation" />
    <link rel="chapter" href="/?2012/09/07/193-can-regexp-loop" title="Can regexp loop ?" />
    <link rel="chapter" href="/?2012/03/08/192-le-singleton-statique" title="le singleton statique" />
    <link rel="chapter" href="/?2011/10/12/191-un-resume-super-concis-de-la-soiree-le-metier-de-developpeur" title="Un résumé super concis de la soirée &quot;Le métier de développeur&quot;" />
    <link rel="chapter" href="/?2011/02/06/190-comment-tester-en-java-un-client-http-sans-se-connecter" title="Comment tester en Java un client HTTP sans se connecter ?" />
    <link rel="chapter" href="/?2011/02/04/189-tester-une-expression-reguliere" title="Tester une expression régulière" />
    <link rel="chapter" href="/?2010/11/17/187-determiner-les-dependances-d-un-projet-maven" title="Déterminer les dépendances d'un projet Maven" />
    <link rel="chapter" href="/?2010/08/10/186-restaurer-son-iphone-3g-en-os-313" title="Restaurer son iPhone 3G en OS 3.1.3" />
    <link rel="chapter" href="/?2010/07/20/185-utiliser-java-util-logging-dans-tomcat-avec-eclipse" title="Utiliser java.util.logging dans Tomcat avec Eclipse." />
    <link rel="chapter" href="/?2010/05/25/184-authentification-ssh-sans-mot-de-passe" title="Authentification SSH sans mot de passe" />
    <link rel="chapter" href="/?2010/02/05/188-erreur-dans-l-implementation-d-ibm-de-la-specification-portlet" title="Erreur dans l'implémentation d'IBM de la spécification portlet" />
    <link rel="chapter" href="/?2009/11/07/183-generateur-de-mots-de-passe-avec-calc-de-libreoffice" title="Générateur de mots de passe avec Calc d'OpenOffice" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/rss.php" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/atom.php" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/syntax.css" media="screen" />
</head>

<body>

<div id="page">

<div id="top">
    <h1><a href="{{ site.url }}/index.html">{{ site.name }}</a></h1>
</div>

<p id="prelude"><a href="#main">Aller au contenu</a> |
    <a href="#sidebar">Aller au menu</a></p>

<div id="main">
<div id="content">
{{ content }}
</div>
</div>

<div id="sidebar">
    <!-- TODO calendar -->
    <!-- <div id="calendar">
        <h2>Calendrier</h2>
        <table summary="Calendrier">
            <caption><a href="/?2012/10"  title="octobre 2012">&#171;</a> novembre 2012</caption><thead><tr><th scope="col"><abbr title="lundi">lun</abbr></th><th scope="col"><abbr title="mardi">mar</abbr></th><th scope="col"><abbr title="mercredi">mer</abbr></th><th scope="col"><abbr title="jeudi">jeu</abbr></th><th scope="col"><abbr title="vendredi">ven</abbr></th><th scope="col"><abbr title="samedi">sam</abbr></th><th scope="col"><abbr title="dimanche">dim</abbr></th></tr></thead>
            <tbody><tr><td> </td><td> </td><td> </td><td>1</td><td>2</td><td>3</td><td><a href="/?2012/11/04">4</a></td></tr>
            <tr><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td></tr>
            <tr><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td></tr>
            <tr><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td></tr>
            <tr><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td> </td><td> </td></tr>
            </tbody>
        </table>
    </div>-->

    <!-- TODO selection -->
    <!--<div id="selection"><h2>&Agrave; retenir</h2><ul><li><a href="/?2009/06/03/181-chronograph">Chronograph</a></li></ul></div>-->
    <!-- TODO categories -->
    <!--<div id="categories">
        <h2>Cat&eacute;gories</h2>
        <ul><li><a href="/?General">General</a></li><li><a href="/?Realisations">Réalisations</a></li><li><a href="/?Professionnel">Professionnel</a></li><li><a href="/?Techno">Techno</a></li></ul>
    </div>-->
    <!-- TODO archives -->
    <!--<div id="archives">
        <h2>Archives</h2>
        <ul>
            <li><a href="/?2012/11">novembre 2012</a></li>
            <li><a href="/?2012/10">octobre 2012</a></li>
            <li><a href="/?2012/09">septembre 2012</a></li>
            <li><a href="/?2012/03">mars 2012</a></li>
            <li><a href="/?2011/10">octobre 2011</a></li>
            <li><a href="/?2011/02">février 2011</a></li>
            <li><a href="/?2010/11">novembre 2010</a></li>
            <li><a href="/?2010/08">août 2010</a></li>
            <li><a href="/?2010/07">juillet 2010</a></li>
            <li><a href="/?2010/05">mai 2010</a></li>
            <li><a href="/?2010/02">février 2010</a></li>
            <li><a href="/?2009/11">novembre 2009</a></li>
            <li><a href="/?2009/06">juin 2009</a></li>
            <li><a href="/?2008/07">juillet 2008</a></li>
            <li><a href="/?2008/06">juin 2008</a></li>
            <li><a href="/?2008/05">mai 2008</a></li>
            <li><a href="/?2006/09">septembre 2006</a></li>
            <li><a href="/?2006/07">juillet 2006</a></li>
            <li><a href="/?2006/04">avril 2006</a></li>
            <li><a href="/?2005/07">juillet 2005</a></li>
        </ul>
    </div>-->

    <div id="links">
        <h2>Liens</h2>
        <ul>
            <li><a href="http://eric.lemerdy.free.fr/" hreflang="fr">le blog de mon frère</a></li>
            <li><a href="/wikini" hreflang="fr" title="Mon wiki, utilisant wikini, en lecture seule.">mon wiki</a></li>
        </ul>
    </div>

    <!-- TODO syndicate -->
    <!--<div id="syndicate">
        <h2>Syndication</h2>
        <ul>
            <li><a href="/blog/rss.php">fil rss</a></li>
            <li><a href="/blog/rss.php?type=co">fil rss commentaires</a></li>
            <li><a href="/blog/atom.php">fil atom</a></li>
            <li><a href="/blog/atom.php?type=co">fil atom commentaires</a></li>
        </ul>
    </div>-->
</div>

<p id="footer"><a href="http://jekyllrb.com/docs/github-pages//">
    propuls&eacute; par Jekyll et github</a></p>

</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-6197811-2");
        pageTracker._trackPageview();
    } catch(err) {}</script>
</body>
</html>